#information-email-row {
  width: 100%;
}

#information-email-row button {
  float: right;
}

#name-input {
  margin-bottom: 1rem;
}

#information-email-row {
  display: flex;
  justify-content: space-between;
}